In [5]:
import pandas as pd 
import numpy as np 
dates = pd.date_range('today',periods=6) # 定义时间序列作为 index
num_arr = np.random.randn(6,4) # 传入 numpy 随机数组
columns = ['A','B','C','D'] # 将列表作为列名
df1 = pd.DataFrame(num_arr, index = None, columns = columns)
df1

          A         B         C         D
0  0.360001 -0.544832 -0.455170  1.437236
1 -1.814681  0.436556  0.471396  0.749298
2  1.547505  1.812487  0.216502  0.448166
3  0.590194 -0.538965 -0.299016  0.121115
4  0.837902 -0.340722  0.351173  0.422117
5 -1.677287  0.029769  0.264270 -0.268564